/* Custom arrow styling */
.slick-prev:before,
.slick-next:before {
  color: #7c4dff !important;
  font-size: 30px !important;
}

/* Custom dots styling */
.slick-dots li button:before {
  color: #fff !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: #e00606 !important;
  opacity: 1 !important;
}
.slick-dots {
  bottom: 15px !important;
}

.slick-slider {
  height: 100%;
}

.slick-list,
.slick-track {
  height: 100%;
}

/* Background overlay enhancement */
body {
  background-attachment: fixed;
}
